
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>Stock Mock | Backtest Index Strategies</title>
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.ico' />
    

    <link rel="stylesheet" type="text/css" href="/SMK/bs4.css">
    <link rel="stylesheet" type="text/css" href="/SMK/main.css">
    <link rel="stylesheet" type="text/css" href="/SMK/main-new.css">
    <link rel="stylesheet" type="text/css" href="/SMK/tablet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" src="https://unpkg.com/css-tooltip" />
    <link rel="stylesheet" type="text/css" href="/SMK/balloons.css">
    <link rel="stylesheet" type="text/css" href="/SMK/fireworks.css">
    <link rel="stylesheet" type="text/css" href="/SMK/invoice.css">
    <link rel="stylesheet" type="text/css" href="/SMK/new_css.css">
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <!-- Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"
            integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA=="
            crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script> -->

  
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/mithril-datepicker@0.9.3/src/style.css">

    <script type='text/javascript'
            src='https://platform-api.sharethis.com/js/sharethis.js#property=5ebd86ae5c19d000124b6e67&product=custom-share-buttons'
            async='async'></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://arthurclemens.github.io/assets/polythene/standalone/polythene-css/polythene-css-standalone.js"></script>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data-2012-2022.min.js"></script>

</head>
<body>
    <div id="root">
        <div class="app_header __no__print">
            <div class="navbar-brand"><img src="images/logo/SMK.svg" alt="logo"></div>
            <div class="header-nav">
                <div class="header-nav-link-container ">
                    <a class="header_nav_link nav_user_name">
                        <span class="tool__tip">
                            Hi Surendra...
                            <div class="tool__tip__text">Surendra Kandira</div>
                        </span><div class="__credit__count tool__tip new_icon free__credit">
                            20<div class="tool__tip__text">
                                Free Credits left (Result Will Be limited to Latest 1 Months Data Only).
                            </div>
                        </div>
                    </a><div class="header-nav-seprator"></div><a class="header_nav_link __active">
                        <div class="new_icon">
                        </div><span>Home</span>
                    </a><a class="header_nav_link ">
                        <div class="new_icon"></div>
                        <div class="new_icon highlight__nav"><div class="fa fa-star"></div></div><span>Basket</span>
                    </a><a class="header_nav_link ">
                        <div class="new_icon">New</div><span>Simulator</span>
                    </a><a class="header_nav_link ">
                        <div class="new_icon"></div>
                        <span>Education</span>
                    </a><a class="header_nav_link "><div class="new_icon"></div><span>Feedback</span></a>
                    <a class="header_nav_link "><div class="new_icon"></div><span>Profile</span></a><button style="margin: 0px 8px;" class="__button web__only __donate__button">
                        <img src="./images/money.svg"><span>Buy Credits</span>
                    </button><div class="header-nav-seprator"></div><a class="header_nav_link"><i style="font-size: 16px;" class="fa fa-sign-out"></i></a>
                </div><div class="mobile_nav_button">
                    <button class="__button __donate__button">
                        <img src="./images/money.svg">
                        <span>Buy Credits</span>
                    </button><button style="width: 30px; background: inherit; border: 0px none; margin-left: 8px;" type="button" class="toggle_icon ">
                        <div class="icon-burger">
                            <span class="icon-burger__bar"></span><span class="icon-burger__bar"></span><span class="icon-burger__bar"></span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div id="navbarBg" class="navbar__bg "></div>
        <div class="__page row">
            <div class="__container __main__box __famous__strategies col-lg-2 col-md-3 col-sm-12">
                <div class="__position__header __title__header">
                    <div>Strategies</div>
                </div><select class="__box__input mobile__only">
                    <option value="0">
                        <span class="fa fa-sliders"></span>
                        <div>Custom</div>
                    </option>
                    <option value="1" disabled=""><span class="fa fa-sliders"></span><div>Default Strategies</div></option>
                    <option value="2">
                        <span class="fa fa-compress"></span><div>Short Strangle</div>
                    </option>
                    <option value="3"><span class="fa fa-compress"></span><div>Short Straddle</div></option>
                    <option value="4"><span class="fa fa-long-arrow-right "></span><div>Long Strangle</div></option>
                    <option value="5"><span class="fa fa-long-arrow-right "></span><div>Long Straddle</div></option>
                    <option value="6"><span class="fa fa-gift"></span><div>Iron Butterfly</div></option>
                    <option value="7"><span class="fa fa-gift"></span><div>Iron Condor</div></option>
                    <option value="8"><span class="fa fa-beer"></span><div>Bear Call Spread</div></option>
                    <option value="9"><span class="fa fa-beer"></span><div>Bear Put Spread</div></option>
                    <option value="10"><span class="fa fa-bullseye"></span><div>Bull Call Spread</div></option>
                    <option value="11"><span class="fa fa-bullseye"></span><div>Bull Put Spread</div></option>
                </select><ul class="web__only">
                    <li class="__active__nav"><span class="fa fa-sliders"></span><div>Custom</div></li>
                    <li class="strategy__group ">
                        <div>Default Strategies</div>
                        <span class="fa fa-chevron-up"></span>
                    </li>
                    <li class=""><span class="fa fa-compress"></span><div>Short Strangle</div></li>
                    <li class="">
                        <span class="fa fa-compress"></span>
                        <div>Short Straddle</div>
                    </li>
                    <li class=""><span class="fa fa-long-arrow-right "></span><div>Long Strangle</div></li>
                    <li class="">
                        <span class="fa fa-long-arrow-right "></span>
                        <div>Long Straddle</div>
                    </li>
                    <li class=""><span class="fa fa-gift"></span><div>Iron Butterfly</div></li>
                    <li class=""><span class="fa fa-gift"></span><div>Iron Condor</div></li>
                    <li class=""><span class="fa fa-beer"></span><div>Bear Call Spread</div></li>
                    <li class=""><span class="fa fa-beer"></span><div>Bear Put Spread</div></li>
                    <li class=""><span class="fa fa-bullseye"></span><div>Bull Call Spread</div></li>
                    <li class=""><span class="fa fa-bullseye"></span><div>Bull Put Spread</div></li>
                </ul>
            </div>
            <div id="mainViewPort" class="__container __main__box col-lg-10 col-md-9 col-sm-12">
                <div class="main__view__container">
                    @RenderBody()
                </div>

            </div>
        </div>

    </div>












    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/bootstrap-5.0.2/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://clipboardjs.com/dist/clipboard.min.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
