@{
    string fileName = ViewBag.name;
}

<section class="forum-page">
    <div class="container">
        <div class="forum-questions-sec">
            <div class="row">
                <div>
                    <partial name="_screenshot" />
                    <a href="/QRCode/Screenshot?fileName=@fileName" class="button">Download Screenshot</a>
                </div>
                </div>
            </div>
        </div>
    </section>
