





<div class="main-section">
    <div class="container">
        <div class="main-section-data">
            <div class="row">

                <div class="col-lg-12 col-md-12 no-pd">
                    <div class="accordion">

                        <div class="card">
                            <div class="card-header">
                                <div class="row" id="photo">

                                    <div>
                                        <img src="/Screenshot/@ViewBag.name" />
                                    </div>
                                   
                                </div>


                            </div>


                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
     
}  